<%= form_with model: @question, local: true do |form| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> data gagal disimpan
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :no %><br>
    <%= form.text_field :no %>
  </p>

  <p>
    <%= form.label :dominance %><br>
    <%= form.text_field :dominance %>
  </p>

  <p>
    <%= form.label :influence %><br>
    <%= form.text_field :influence %>
  </p>

  <p>
    <%= form.label :steadiness %><br>
    <%= form.text_field :steadiness %>
  </p>

  <p>
    <%= form.label :compliance %><br>
    <%= form.text_field :compliance %>
  </p>  

  <p>
    <%= form.submit %>
  </p>

<% end %>
