<div class="header-page">
  <div class="nav-page">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to image_tag("logo", :class => 'navbar-logo'), {controller: 'welcome'} %>
      </div>
      <ul class="nav nav-pills">
         <li role="presentation"><%= link_to 'Pengguna', students_path,:class => 'pengguna' %></li>
          <li role="presentation"><%= link_to 'Pertanyaan', questions_path %></li>
      </ul>
      <ul class="nav nav-pills navbar-right">
        <div class="navbar-text pull-right">
          <% if user_signed_in? %>
            <%= if !current_user.nil?
                    current_user.email + ' (' + current_user.roles.pluck(:name).join(",") + ')'
                  end%>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> 
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div>    
      </ul>
    </div>
  </div>
</div>
<div class="body-page">
    <div class="container-fluid">
      <%= link_to 'Tambah Data', new_question_path %>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>No</th>
              <th>Pertanyaan</th>
              <th>Pilihan A</th>
              <th>Pilihan B</th>
              <th>Pilihan C</th>
              <th>Pilihan D</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @questions.each do |question| %>
              <tr>
                <td><%= question.no %></td>
                <td><%= question.pertanyaan %></td>
                <td><%= question.pilihan_A %></td>
                <td><%= question.pilihan_B %></td>
                <td><%= question.pilihan_C %></td>
                <td><%= question.pilihan_D %></td>
                <td align="center"><%= link_to 'Edit', edit_question_path(question) %>
                  <%= link_to 'Delete', question_path(question),
                  method: :delete, data: { confirm: 'Are you sure?' } %>    
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        &copy; 2017. Designed by CYC Team.
    </div>
</div>














