<h1>Pertanyaan</h1>

<p>
  <strong>No:</strong>
  <%= @question.no %>
</p>

<p>
  <strong>Pertanyaan:</strong>
  <%= @question.pertanyaan %>
</p>

<p>
  <strong>Pilihan A:</strong>
  <%= @question.pilihan_A %>
</p>

<p>
  <strong>Pilihan B:</strong>
  <%= @question.pilihan_B %>
</p>

<p>
  <strong>Pilihan C:</strong>
  <%= @question.pilihan_C %>
</p>

<p>
  <strong>Pilihan D:</strong>
  <%= @question.pilihan_D %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
