<div class="header-page">
  <div class="nav-page">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to image_tag("logo", :class => 'navbar-logo'), {controller: 'welcome'} %>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation"><%= link_to 'Pengguna', users_path %></li>
        <li role="presentation"><%= link_to 'Admin', controller: 'admin' %></li>
        <li role="presentation"><%= link_to 'Pertanyaan', questions_path %></li>
        <li role="presentation"><%= link_to 'Artikel', articles_path %></li>
      </ul>
      <ul class="nav nav-pills navbar-right">
        <div class="navbar-text pull-right">
          <% if user_signed_in? %>
            <%= if !current_user.nil?
                    current_user.email + ' (' + current_user.roles.pluck(:name).join(",") + ')'
                  end%>
            <%= link_to "Profil", current_user, :class => 'navbar-link' %> 
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div>    
      </ul>
    </div>
  </div>
</div>
<div class="body-page">
    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Text</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @articles.each do |article| %>
              <tr>
                <td><%= article.title %></td>
                <td><%= article.text %></td>
                <td align="center">
                  <%= link_to 'Show', article_path(article) %>
                  <%= link_to 'Edit', edit_article_path(article) %>
                  <%= link_to 'Delete', article_path(article),
                  method: :delete, data: { confirm: 'Are you sure?' } %>    
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Tambah Data', new_article_path, :class => "btn btn-success" %>
      </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        &copy; 2017. Designed by CYC Team.
    </div>
</div>














