<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
<h1>Profil <%= current_user.email %></h1>

<p>
  <%= image_tag @user.profile_picture_url(:thumb) unless @user.profile_picture.blank? %> 
</p>

<p>
  <strong>NIM:</strong>
  <%= @user.nim %>
</p>

<p>
  <strong>Nama:</strong>
  <%= @user.nama %>
</p>

<p>
  <strong>Jenis Kelamin:</strong>
  <%= @user.jenis_kelamin %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @user.alamat %>
</p>

<p>
  <strong>Tempat Lahir:</strong>
  <%= @user.tempat_lahir %>
</p>

<p>
  <strong>Tanggal Lahir:</strong>
  <%= @user.tgl_lahir %>
</p>

<p>
  <strong>No Telepon:</strong>
  <%= @user.no_telepon %>
</p>

<p>
  <strong>Jurusan:</strong>
  <%= @user.jurusan %>
</p>

<p>
  <strong>Fakultas:</strong>
  <%= @user.fakultas %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Kepribadian:</strong>
  <%= @user.kepribadian %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @user.keterangan %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
